.product-details {
  margin-top: 100px !important;
}

.product-details-info {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.product-details-info h6 {
  margin-bottom: 20px !important;
}

.similar-products .card {
  background-color: rgba(128, 128, 128, 0.097);
  width: 18rem;
}

.similar-products .card-name-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.similar-products .card-price {
  color: green;
  font-weight: bold;
}
.similar-products button {
  border-radius: 0;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.similar-products .card-text {
  color: rgb(90, 89, 89);
}

.similar-products .card img:hover {
  transform: scale(0.9);
}

.similar-products .card-img-top {
  height: 300px !important;
}

.products .card-img-top {
  height: 300px !important;
}

/* arrivals start */
.arrivals .arrivals-slider .swiper-wrapper{
  height: 30%;
}
.arrivals .arrivals-slider .box{
  display: flex;
  height: 230px !important;
  align-items:center;
  gap:1rem !important;
  padding:2rem ;
  border:var(--border);
  margin:1rem 1.5rem;
  /* margin-bottom: 1rem !important; */
  width: 30%;
  text-decoration: none !important;
}

.arrivals .arrivals-slider .box:hover{
  border:var(--border-hover);
}

.arrivals .arrivals-slider .box .image img{
  height:20rem;
  width: 14rem;
}

.arrivals .arrivals-slider .box .content h3{
  font-size: 1.5em;
  color:var(--black);
  text-decoration: none !important;
}

.arrivals .arrivals-slider .box .content .price{
  font-size: 2rem;
  color:var(--black);
  padding-bottom: .5rem;
}

.arrivals .arrivals-slider .box .content .price span{
  font-size: 1.5rem;
  color:var(--light-color);
  text-decoration: line-through;
}

.arrivals .arrivals-slider .box .content .stars i{
  font-size: 1.5rem;
  color:var(--green);
}

/* arrivals end */
